# Alamat Backend API Laravel di VPS
# Jika menggunakan reverse proxy Nginx pada domain yang sama: https://panel.domainanda.com/api
# Jika menggunakan IP VPS dan port terpisah: http://103.xxx.xxx.xxx:8000/api
VITE_API_URL=https://panel.domainanda.com/api
