APP_NAME="SeptaDB Panel"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://panel.domainanda.com

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=error

# Koneksi Database Internal Panel (MySQL di localhost VPS)
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=nexusdb_panel
DB_USERNAME=nexusdb_user
DB_PASSWORD=GantiDenganPasswordKuat123!

# IP Publik atau Hostname yang diberikan ke Klien untuk terhubung ke database mereka
# Isi dengan IP VPS Anda (misal 103.xxx.xxx.xxx) atau domain khusus database (misal db.domainanda.com)
DB_PUBLIC_HOST=103.xxx.xxx.xxx
PHPMYADMIN_PUBLIC_URL=https://pma.domainanda.com

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

SANCTUM_STATEFUL_DOMAINS=panel.domainanda.com
FRONTEND_URL=https://panel.domainanda.com

MAIL_MAILER=log
MAIL_FROM_ADDRESS="noreply@domainanda.com"
MAIL_FROM_NAME="${APP_NAME}"
